#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#img-div {
  text-align: center;
}

@media (max-width: 767px) {
  #image {
    width: 200px;
    height: 200px;
    width: 70%;
  }
}
